.project
.DS_Store
._*
*.sublime-*
*/.sass-cache/
*.sass-cache*
*.DS_Store

ip-web/sftp-config.json
ip-web/sass/.DS_Store
ip-web/sass/modules/_csc_default.scss.outputted
ip-web/sftp-config-alt.json
ip-web/sass/.DS_Store
ip-web/sass/.DS_Store
ip-web/sass/.DS_Store
*/.DS_Store
*/*/.DS_Store

*/old_templates/*
*/TypoScript_old/*
*/ts/*
ip-web/img/.DS_Store

ip-web/img/icons/.DS_Store
/responsive/*
/retina/*
ip-web/img/node_modules/*