/* helperclasses
 * ====================================================================
 */
.right
  float: right
.left
  float: left
.float-none
  float: none
.clear
  clear: both
.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center
.text-justify
  text-align: justify
.valign-top
  vertical-align: top
.valign-bottom
  vertical-align: bottom
.valign-middle
  vertical-align: middle
.hide,
.nomail
  display: none
.bold
  font-weight: 700
.italic
  font-style: italic
.underline
  border-bottom: 1px solid
img.alignCenter
  display: block
  margin-left: auto
  margin-right: auto
img.alignLeft
  float: left
  margin: 4px 10px 4px 0
img.alignRight
  float: right
  margin: 4px 0 4px 10px
.pos-rel
  position: relative
.pos-abs
  position: absolute
.small
  font: normal em($base-fontsize * 0.8) / $base-lineheight $font-main
.uppercase
  text-transform: uppercase




.link-more




.link-action


%btn
  display: inline-block
  padding: 0.5em 1em
  margin: 0 0.5em 1em 0
  background-color: lighten($lightgrey, 20)
  border: 1px solid lighten($grey, 20)
  font-weight: bold
  border-radius: 2px
  color: $grey
  text-decoration: none


a.button
  @extend %btn

a.btn-action
  @extend %btn
  background-color: $color-main
  color: $white
  border: none
  &:hover,
  &:focus,
  &:active
    background-color: darken($color-main, 10)
