/* Layout
 * ===================================================================
 */

*
	+box-sizing(border-box)
// general layout styles
.inner-wrap
	@extend .clearfix
	max-width: $containerMax
	margin: 0 auto
	padding: $padding
	width: 100%

header
	@extend .clearfix
	border:
		bottom: 2px solid $lightergrey
	.inner-wrap
		padding: 0 1em 0 0

	.content &
		border-bottom: none

.content
	aside
		background-color: lighten($color-main, 40)
		border: 1px solid $color-main
		padding: 1em


footer
	@extend .clearfix
	background-color: $darkgrey //$color-footerBg
	color: if($color-footerBg == black, $white, $color-text)

	h4
		text-transform: uppercase
		font-weight: bold
		margin: 2em 0 0.5em

		&:first-child
			margin: 0
	a
		color: if($color-footerBg == black, $white, $color-text) !important

		&:hover
			color: $color-main !important

	// temp
	ul
		list-style-type: none
		margin: 0 0 0.5em
		padding: 0

		a
			display: block
			padding: 0.25em 0

	.copyright
		border-top: 1px solid #1c1c1c
		margin-top: 2em
		padding-top: 1em
		text-align: center


.container
	font-size: px2em(16)
	min-height: 100%




// specific layout styles

.logo
	margin: 0
	font-size: 1em
	float: left

	a
		display: inline-block
		background: none
		width: 160px
		height: auto
		margin-top: 0.5em


		@media screen and (min-width: 481px)
			width: 230px
			margin-top: 0

		.no-inlinesvg &
			background: transparent image-url("TYPO3-logo-new.png") no-repeat
			+background-size(160px auto)

			img
				display: none




.steps-123
	@extend .clearfix
	list-style-type: none
	margin: 0
	padding: 0

	> li
		// temp
		// 123-steps as image
		background: image-url("dummy/steps.png") no-repeat 50% 0
		padding-top: 50px !important

		+tablet()
			float: left
			width: 33.333334%
			padding: 0 1em
		+tablet()
			padding: 0 5em 0 1em

		&:first-child
			padding-left: 0
			background-position: 0 0
		&:last-child
			padding-right: 0
			background-position: 100% 0

	h3
		margin-top: 1em

.headline-devider
	font-size: px2em(22)
	font-weight: bold
	text-transform: uppercase
	text-align: center
	letter-spacing: 0.1em
	position: relative
	background-color: $white
	overflow: hidden
	white-space: nowrap
	padding: .2em 0
	line-height: 1

	&:before,
	&:after
		content: ""
		position: relative
		display: inline-block
		width: 50%
		height: 3px
		vertical-align: middle
		background: #e1e1e1

	&:before
		left: -.5em
		margin: 0 0 0 -50%

	&:after
		left: .5em
		margin: 0 -50% 0 0

		font-size: px2em(14)



