/* Modules
 * ==================================================================
 */

.m-stage
	background-color: $color-main
	min-height: 350px
	position: relative
	z-index: 10

	.sub &
		margin: 0
		min-height: 50px

	+respond-min(481px)
		min-height: 280px
	+respond-min(768px)
		min-height: image-height("dummy/stage-bg-new_mini.png") - 80px
		margin-bottom: 40px

		.stage-imagery
			background: transparent image-url("dummy/stage-bg-new_mini.png") no-repeat 0px 20px
			min-height: image-height("dummy/stage-bg-new_mini.png")
			position: absolute
			top: 0
			left: 40%
			right: 0
			z-index: 2
			// maybe temp
			+transition-property(background-position)
			+transition-duration(0.3s)
			+transition-timing-function(ease-in)

			+respond-min(481px)
				left: 60%
			// +break5()
			// 	background-position: 600px 20px

			// @media screen and (min-width: 1025px)
			// 	background-position: 768px 20px

			// @media screen and (min-width: 1200px)
			// 	background-position: 960px 20px

	h2
		color: $white
		width: auto
		font:
			weight: normal
			size: px2em(18)
			family: 'Share-Regular', $font-main
		line-height: 1.2
		margin: 0

		.no-fontface &
			font-size: px2em(16)

		+respond-min(481px)
			font-size: px2em(24)
		+respond-min(768px)
			margin: 0 px2em(48,24) px2em(36,24) px2em(48,24)
		+respond-min(1024px)
			margin: px2em(48,24)

		.sub &
			margin: 0
			max-width: 100%

		.firstline
			display: block
			font-size: px2em(24)
			font-family: 'Share-Bold', $font-main
			margin-bottom: 0

			.no-fontface &
				font-size: px2em(20)

		.secondline
			.sub &
				display: none
				+respond-min(481px)
					display: block

.m-featurelist
	list-style-type: none
	margin: 1em 0
	padding: 0
	overflow: hidden

	+respond-min(768px)
		width: 50%
		margin-left: px2em(48,16)

	> li
		padding: 6px 0
		color: $white
		font-size: px2em(18)

		+respond-min(481px)
			float: left
			width: 50%

			// temp
			+nowrap()

		+respond-min(768px)
			float: none
			width: 100%


		+respond-min(1024px)
			float: left
			width: 50%

		// 	// temp
		// 	+nowrap()
		.icon
			margin-top: -6px
			margin-right: 0.25em


.m-globalsearch
	position: absolute
	left: 0
	right: 0
	bottom: 0
	z-index: 1
	background-color: rgba($black, 0.2)

	.sub &
		position: relative
		display: none

		+respond-min(600px)
			display: block

	fieldset
		padding: 0
	label
		display: none
		+respond-min(480px)
			display: inline-block
			width: 40%
			color: $white
			font:
				family: 'Share-Bold', $font-main
				font-weight: normal
				size: px2em(24,16)
			line-height: 52px
			float: left
		+respond-min(768px)
			width: 25%
		.sub &
			display: none

	.input-wrapper
		display: inline-block
		background-color: rgba($black, 0.2)
		width: 100%

		+respond-min(481px)
			width: 60%
		+respond-min(768px)
			width: 33%

		.sub &
			width: 100%

	.search-input
		+box-sizing(border-box)
		background-color: transparent
		display: inline-block
		border: none
		padding: 1em 0 1em 1em
		color: $white
		min-width: 130px
		width: 60%
		height: 52px
		line-height: 1
		font-size: px2em(18,16)
		.sub &
			min-width: 85px
			width: 65%
		+respond-min(481px)
			width: 70%

		&::-webkit-input-placeholder
			color: $white
		&:-moz-placeholder
			color: $white

	.search-submit
		@extend .search-input
		+border-radius(0)
		+box-sizing(content-box)
		background: rgba($black, 0.4) image-url("icons/retina/ico-search.png")	no-repeat 50%
		+background-size(50% 50%)
		min-width: 1em
		width: auto
		height: 1em
		text-indent: -999px
		float: right
		padding: 1em

		.sub &
			min-width: 1em
			width: 1em

.m-login
	@extend .nav-language

	&:hover, &:active, &:focus
		.icon
			+normal-sprite(ico-lock-locked_hover, false, 8px, 8px)




// //test
// .csc-textpic
// 	+clearfix()
// .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap
// 	float: left
// 	width: 30%
// .csc-textpic-intext-left-nowrap .csc-textpic-text
// 	float: left
// 	width: 70%

// 	h3
// 		margin-top: 0
