/* Navigations
 * ===================================================================
 */

//  nav-main (main navigation)
.nav-main {
  position: relative;
  .inner-wrap {
    padding: 0;
  }
  h2 {
    margin-bottom: 0;
    a {
      display: block;
      padding: 0.5em 0;
    }
  }
  .nav-handler {
    display: block;
    //background: $lightergrey url("../img/icons/ico-navlist.png") no-repeat 50%
    background-color: $lightergrey;
    text-indent: -9999px;
    @include respond-min(600px) {
      display: none;
    }
  }
  > ul {
    .js & {
      max-height: 0;
      overflow: hidden;
      @include single-transition(max-height, 0.3s);
    }



    @include respond-min(600px) {
      max-width: $containerMax;
      margin: 0 auto;
      display: block;
      .js & {
        max-height: 9999px;
        white-space: nowrap;
      }
    }

    &.active {
      max-height: 9999px;
      @include single-transition(max-height, 0.3s);
    }
    > li {
      text-transform: uppercase;
      font-size: em(14px);
      font-weight: bold;
      position: relative;

      &:first-child {
        > a {
          border-top: none;
        }
      }
      &.act,
      &.cur,
      &.cur.hassub {
        > a {
          padding-left: 1.5em;
          color: $black;
          @include respond-min(600px) {
            padding-left: 0.75em;
          }
        }
        > a:after {
          content: "";
          border: 10px solid transparent;
          border-bottom-color: #ffb766;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -10px;
          @include respond-max(599px) {
            bottom: auto;
            left: 0;
            top: 5px;
            border-bottom-color: transparent;
            border-left-color: #ffb766;
            margin-left: 0;
          }
        }
      }
      &.cur {
        @include respond-min(600px) {
          > a:after {
            border-bottom-color: $color-main;
          }
        }
      }
      &.act,
      &.cur.hassub {
        @include respond-min(600px) {
          margin-bottom: 2.4em;
        }
      }
      @include respond-min(600px) {
        display: inline-block;
        text-transform: none;
        position: static;
      }

      @include respond-min(1024px) {
        font-size: em(16px);
      }

      @media only screen and (-webkit-max-device-pixel-ratio: 0.75) {}
      //, (max-resolution: 120dpi)
      // font-size: em(16px)

    }
    a {
      display: block;
      padding: 0.5em;
      padding-right: 1em;
      color: $grey;
      border-top: 1px solid $lightergrey;
      position: relative;
      @include respond-min(600px) {
        border-top: none;
        padding: 0.5em 0.75em;
      }
    }
  }
  .icon-chevron-down {
    @extend %icon;
    font-size: 24px;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0;
    background-color: transparent;

    .no-touch & {
      cursor: pointer;
    }

    &:before {
      content: "\e00b";
      position: absolute;
      color: $color-text;
    }
  }
}

.cur.hassub,
.act.hassub {
  .icon-chevron-down {
    &:before {
      content: "\e00c";
    }
  }
}
.cur.hassub.open,
.act.hassub.open {
  .icon-chevron-down {
    &:before {
      content: "\e00b";
    }
  }
}

//  nav-sub (sub navigation)
.nav-sub {
  @include single-transition(max-height 300ms ease-in-out);

  .hassub &,
  .cur.hassub.open &,
  .act.hassub.open & {
      max-height: 0;
      overflow: hidden;

      @include respond-min(600px) {
        max-height: 100px;
        overflow: visible;
      }
  }

  .cur.hassub &,
  .act.hassub &,
  .open.hassub & {
    max-height: 499px;
  }


  @include respond-min(600px) {
    position: absolute;
    bottom: 0;
    top: 2.4em;
    left: 0;
    z-index: 1111;
    width: 100%;
    height: 3.1em;
    background-color: $color-main;
    white-space: nowrap;
    overflow: hidden;

    &:before {
      content: "";
      min-height: 2.4em;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #ffb766;
    }
  }

  > ul {
    @include respond-min(600px) {
      max-width: $containerMax;
      margin: 0 auto;
      padding-bottom: 10px;

      @include single-transition(transform 300ms ease-out);
    }

    > li {
      text-transform: none;
      &.cur {
        > a {
          color: $color-main;
          @include respond-min(600px) {
            color: $black;
          }
        }
        > a:after {
          @include respond-min(600px) {
            content: "";
            border: 10px solid transparent;
            border-top-color: #ffb766;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            z-index: 111;
          }
        }
      }
      @include respond-min(600px) {
        display: inline-block;
      }
    }
    a {
      color: $darkgrey;
      padding-left: 1.5em;
      @include respond-min(600px) {
        padding-left: 0.75em;
      }
    }
  }
}

// nav language
.nav-language {
  @include box-shadow(inset -1px 1px 0 rgba($white, 0.5));
  float: right;
  height: 42px;
  background-color: $lightergrey;
  margin: 1em 10px 1em -5px;
  border: 1px solid $lightgrey;
  outline: 5px solid lighten($lightgrey, 20);

  @include respond-min(481px) {
    margin-top: em(25px);
  }
  @include respond-min(600px) {
    margin: em(35px) em(10px) 1em 0;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $color-main;
    border: 1px solid darken($color-main, 10);
    outline: 5px solid lighten($lightgrey, 20);
    .text {
      @include box-shadow(inset -1px 1px 0 lighten($color-main, 30));
      color: $white;
      border-left: 1px solid darken($color-main, 10);
    }
  }

  .text {
    @include box-shadow(inset -1px 1px 0 rgba($white, 0.5));
    display: none;
    color: $grey;
    min-width: 80px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    border-left: 1px solid $lightgrey;
    @include respond-min(768px) {
      display: inline-block;
    }
  }

  &:hover.icon-earth:before,
  &.active.icon-earth:before {
    color: $white
  }


  &.icon-earth:before {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin-right: 0;
    vertical-align: top;
    width: 40px;
    color: $grey;

    @include respond-min(600px) {
    //  line-height: 36px;
    //  margin-right: 0;
    //  text-indent: 0.25em;
    //  width: 36px;
    }
  }

}


#nav_lessbtn {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  z-index: 11;

  font-size: 3em;
  line-height: 0.7;
  padding: 0 1em 0.15em 0.15em;
  cursor: pointer;
  color: $white;
  @include background(linear-gradient(right,rgba($color-main, 0), $color-main));
}

#nav_morebtn {
  @extend #nav_lessbtn;
  left: auto;
  right: 0;
  padding: 0 0.15em 0.15em 1em;
  @include background(linear-gradient(left,rgba($color-main, 0), $color-main));
}
