.csc-textpic:before, .csc-textpic-imagewrap:before {
  content: "";
  display: table;
}
.csc-textpic:after, .csc-textpic-imagewrap:after {
  content: "";
  display: table;
  clear: both;
}
.lt-ie8 .csc-textpic, .lt-ie8 .csc-textpic-imagewrap {
  *zoom: 1;
}

/* Headers */
.csc-header-alignment-center {
  text-align: center;
}

.csc-header-alignment-right {
  text-align: right;
}

.csc-header-alignment-left {
  text-align: left;
}

.csc-textpic-imagewrap img {
  border: none;
  display: block;
  vertical-align: bottom;
  margin-bottom: 1em;
}
.csc-textpic-left .csc-textpic-imagewrap img, .csc-textpic-center .csc-textpic-imagewrap img, .csc-textpic-right .csc-textpic-imagewrap img {
  display: inline;
}
.csc-textpic-imagewrap .csc-textpic-imagerow-none img {
  display: block;
}

.csc-textpic-imagecolumn {
  text-align: center;
}
@media only screen and (min-width: 481px) {
  .csc-textpic-imagecolumn {
    float: left;
    margin-right: 1em;
  }
}
.csc-textpic-imagecolumn.csc-textpic-col {
  margin-right: 0;
  float: none;
}
.csc-textpic-imagecolumn.csc-textpic-firstcol {
  clear: both;
}
.csc-textpic-imagecolumn.csc-textpic-lastcol {
  margin-right: 0;
}

@media only screen and (min-width: 481px) {
  .csc-textpic-intext-left .csc-textpic-firstcol, .csc-textpic-intext-left-nowrap .csc-textpic-firstcol {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .csc-textpic-intext-left .csc-textpic-lastcol, .csc-textpic-intext-left-nowrap .csc-textpic-lastcol {
    float: left;
    width: 48%;
    margin-right: 0;
  }
}
.csc-textpic-right > .csc-textpic-imagewrap {
  text-align: right;
}

.csc-textpic-left > .csc-textpic-imagewrap {
  text-align: left;
}

@media only screen and (min-width: 481px) {
  .csc-textpic-intext-left > .csc-textpic-imagewrap, .csc-textpic-intext-left-nowrap > .csc-textpic-imagewrap {
    float: left;
    max-width: 36.1%;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 600px) {
  .grid-6633 .csc-textpic-intext-left > .csc-textpic-imagewrap, .grid-6633 .csc-textpic-intext-left-nowrap > .csc-textpic-imagewrap {
    max-width: 320px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 605px) {
  .grid-6633 .csc-textpic-intext-left > .csc-textpic-imagewrap, .grid-6633 .csc-textpic-intext-left-nowrap > .csc-textpic-imagewrap {
    max-width: 36.1%;
    margin-right: 2%;
  }
}

@media only screen and (min-width: 481px) {
  .csc-textpic-intext-right > .csc-textpic-imagewrap, .csc-textpic-intext-right-nowrap > .csc-textpic-imagewrap {
    float: right;
    max-width: 36.1%;
    margin-left: 2%;
  }
}
@media only screen and (min-width: 600px) {
  .grid-6633 .csc-textpic-intext-right > .csc-textpic-imagewrap, .grid-6633 .csc-textpic-intext-right-nowrap > .csc-textpic-imagewrap {
    max-width: 320px;
    margin-left: 0;
  }
}
@media only screen and (min-width: 605px) {
  .grid-6633 .csc-textpic-intext-right > .csc-textpic-imagewrap, .grid-6633 .csc-textpic-intext-right-nowrap > .csc-textpic-imagewrap {
    max-width: 36.1%;
    margin-left: 2%;
  }
}

.csc-textpic-intext-right-nowrap > .csc-textpic-text {
  margin-right: auto !important;
}
@media only screen and (min-width: 481px) {
  .csc-textpic-intext-right-nowrap > .csc-textpic-text {
    width: 61.8%;
    float: left;
  }
}
@media only screen and (min-width: 600px) {
  .csc-textpic-intext-right-nowrap > .csc-textpic-text {
    width: 100%;
  }
}
@media only screen and (min-width: 605px) {
  .csc-textpic-intext-right-nowrap > .csc-textpic-text {
    width: 61.8%;
  }
}

.csc-textpic-intext-left-nowrap > .csc-textpic-text {
  margin-left: auto !important;
}
@media only screen and (min-width: 481px) {
  .csc-textpic-intext-left-nowrap > .csc-textpic-text {
    width: 61.8%;
    float: right;
  }
}
@media only screen and (min-width: 600px) {
  .csc-textpic-intext-left-nowrap > .csc-textpic-text {
    width: 100%;
  }
}
@media only screen and (min-width: 605px) {
  .csc-textpic-intext-left-nowrap > .csc-textpic-text {
    width: 61.8%;
  }
}

.csc-textpic-center .csc-textpic-center-outer {
  position: relative;
  right: 50%;
  float: right;
  width: 100%;
}
.csc-textpic-center .csc-textpic-center-inner {
  position: relative;
  right: -50%;
  float: right;
  width: 100%;
  text-align: center;
}
.csc-textpic-center .csc-textpic-imagecolumn {
  width: 100%;
  margin-right: 0;
  margin: 0 auto;
}

/* Captions */
.csc-textpic-caption-c .csc-textpic-caption,
.csc-textpic-imagewrap .csc-textpic-caption-c {
  text-align: center;
}

.csc-textpic-caption-r .csc-textpic-caption,
.csc-textpic-imagewrap .csc-textpic-caption-r {
  text-align: right;
}

.csc-textpic-caption-l .csc-textpic-caption,
.csc-textpic-imagewrap .csc-textpic-caption-l {
  text-align: left;
}

.csc-default {
  margin: 1em 0;
}
