@-ms-viewport {
  width: device-width;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

input[hidden] {
  display: none;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.4;
  height: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  background: white;
  color: #3f3f3f;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  color: #3f3f3f;
  text-decoration: none;
}
a:visited {
  color: #3f3f3f;
}
a:hover {
  color: black;
}
a:focus {
  color: black;
  outline: thin dotted;
}
a:active {
  color: black;
}
a:hover, a:active {
  outline: 0;
}
.content a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 1em;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: white;
}

h1 a, .h1 a {
  font-size: 1em;
  text-decoration: none;
}

h2 a, .h2 a {
  font-size: 1em;
  text-decoration: none;
}

h3 a, .h3 a {
  font-size: 1em;
  text-decoration: none;
}

h4 a, .h4 a {
  font-size: 1em;
  text-decoration: none;
}

h5 a, .h5 a {
  font-size: 1em;
  text-decoration: none;
}

h6 a, .h6 a {
  font-size: 1em;
  text-decoration: none;
}

h1, .h1 {
  font: bold 1.375em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
}

h2, .h2 {
  font: bold 1.125em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
}

h3, .h3 {
  font: bold 1em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
  color: #3f3f3f;
  text-transform: uppercase;
}

h4, .h4 {
  font: bold 0.875em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
}

h5, .h5 {
  font: bold 0.75em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
}

h6, .h6 {
  font: bold 0.625em / 1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1.5em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: yellow;
  color: black;
}

p,
pre {
  margin: 0 0 1em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.875em;
  border: none;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  vertical-align: top;
}

abbr[title] {
  border-bottom: none;
}

.normal-sprite, .ico-tick, .ico-globe,
.ico-lock-locked, header .ico-globe, header
.ico-lock-locked, .nav-language:hover .icon, .m-login:hover .icon, .nav-language:active .icon, .m-login:active .icon, .nav-language:focus .icon, .m-login:focus .icon {
  background: url('../gen_img/icons/normal-s1069f8976b.png') no-repeat;
}

.icon {
  height: 48px;
  width: 48px;
  display: inline-block;
  vertical-align: middle;
}

.ico-tick {
  background-position: 0 -296px;
  height: 32px;
  width: 32px;
}

.ico-globe,
.ico-lock-locked {
  background-position: 0 -148px;
}
.ico-globe:hover, .ico-globe.ico-globe-hover,
.ico-lock-locked:hover,
.ico-lock-locked.ico-globe-hover {
  background-position: 0 0;
}
header .ico-globe, header
.ico-lock-locked {
  background-position: 8px -140px;
  height: 40px;
  width: 40px;
}
header .ico-globe:hover, header .ico-globe.ico-globe-hover, header
.ico-lock-locked:hover, header
.ico-lock-locked.ico-globe-hover {
  background-position: 8px 8px;
}

.ico-lock-locked {
  background-position: 0 -222px;
}
.ico-lock-locked:hover, .ico-lock-locked.ico-lock-locked-hover {
  background-position: 0 -74px;
}
header .ico-lock-locked {
  background-position: 8px -214px;
}
header .ico-lock-locked:hover, header .ico-lock-locked.ico-lock-locked-hover {
  background-position: 8px -66px;
}

/* addition resets and defaults
 * ====================================================================
 */
p:first-child, .content ol:first-child, .content ul:first-child, address:first-child {
  margin-top: 0;
}

figcaption {
  font-size: 0.75em;
  line-height: 1.5;
  margin: 1em 0;
}

address {
  font-style: normal;
}

hr {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8c8c8c;
  width: 100%;
  margin: 1em auto;
}
hr.space {
  border-bottom-color: transparent;
  margin: 1em auto 2em !important;
}

caption {
  caption-side: bottom;
}

caption:before,
caption:after {
  content: "\0020\2014\0020";
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  width: auto;
}

a:hover, a:active, a:focus {
  -webkit-tap-highlight-color: rgba(255, 135, 0, 0.4);
}

/* helperclasses
 * ====================================================================
 */
.right {
  float: right;
}

.left {
  float: left;
}

.float-none {
  float: none;
}

.clear {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

.hide,
.nomail {
  display: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 1px solid;
}

img.alignCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignLeft {
  float: left;
  margin: 4px 10px 4px 0;
}

img.alignRight {
  float: right;
  margin: 4px 0 4px 10px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.small {
  font: normal 0.8pxem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

a.button, a.btn-action {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 0.5em 1em 0;
  background-color: #ececec;
  border: 1px solid #bfbfbf;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #8c8c8c;
  text-decoration: none;
}

a.btn-action {
  background-color: #ff8700;
  color: white;
  border: none;
}
a.btn-action:visited {
  color: white;
}
a.btn-action:focus {
  color: black;
}
a.btn-action:hover {
  color: black;
}
a.btn-action:active {
  color: white;
}

.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden, dfn {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, dfn.focusable:active, .visuallyhidden.focusable:focus, dfn.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix, .wrapper, .inner-wrap, header, footer, .steps-123 {
  *zoom: 1;
}
.clearfix:before, .wrapper:before, .inner-wrap:before, header:before, footer:before, .steps-123:before {
  content: "";
  display: table;
}
.clearfix:after, .wrapper:after, .inner-wrap:after, header:after, footer:after, .steps-123:after {
  content: "";
  display: table;
  clear: both;
}

/* Grids based on semantic.gs
 * =======================================================================
 */
.grid-100 {
  width: 100%;
  margin: 0;
}
.grid-100 .col1 .grid-50 {
  display: block;
  width: 102.08333%;
  margin: 0 -1.04167%;
  margin: 0 -7px;
}
.grid-100 .col1 .grid-50:after {
  content: "";
  display: table;
  clear: both;
}
.grid-100 .col1 .grid-50 .col1 {
  display: inline;
  float: left;
  width: 63.88889%;
  margin: 0 1.38889%;
}
.grid-100 .col1 .grid-50 .col2 {
  display: inline;
  float: left;
  width: 63.88889%;
  margin: 0 1.38889%;
}
.grid-100 .col1 .grid-33 {
  display: block;
  width: 102.08333%;
  margin: 0 -1.04167%;
}
.grid-100 .col1 .grid-33:after {
  content: "";
  display: table;
  clear: both;
}
.grid-100 .col1 .grid-33 .col1 {
  display: inline;
  float: left;
  width: 41.66667%;
  margin: 0 1.38889%;
}
.grid-100 .col1 .grid-33 .col2 {
  display: inline;
  float: left;
  width: 41.66667%;
  margin: 0 1.38889%;
}
.grid-100 .col1 .grid-33 .col2 {
  display: inline;
  float: left;
  width: 41.66667%;
  margin: 0 1.38889%;
}

@media screen and (min-width: 600px) {
  .grid-6633 .col1, .grid-6633 .col2 {
    float: left;
  }
  .grid-6633 .col1 {
    margin: 0 1.53333% 0 0;
    width: 57.53333%;
  }
  .grid-6633 .col2 {
    margin: 0 0 0 1.53333%;
    width: 38.53333%;
  }
}
@media screen and (min-width: 768px) {
  .grid-6633 .col1 {
    width: 64.53333%;
  }
  .grid-6633 .col2 {
    width: 31.53333%;
  }
  .grid-6633 .grid-50 {
    margin: 0 -12px;
  }
  .grid-6633 .grid-50 .col1 {
    display: inline;
    float: left;
    width: 30.55556%;
    margin: 0 1.38889%;
  }
  .grid-6633 .grid-50 .col2 {
    display: inline;
    float: left;
    width: 30.55556%;
    margin: 0 1.38889%;
  }
  .grid-6633 .grid2575 .col1 {
    margin: 0 1.5% 0 0;
    width: 23.5%;
  }
  .grid-6633 .grid2575 .col2 {
    margin: 0 0 0 1.5%;
    width: 73.5%;
  }
}

@media screen and (min-width: 604px) {
  .grid-7525 .col1, .grid-7525 .col2 {
    float: left;
  }
  .grid-7525 .col1 {
    margin: 0 1.5% 0 0;
    width: 73.5%;
  }
  .grid-7525 .col2 {
    margin: 0 0 0 1.5%;
    width: 23.5%;
  }
  .grid-7525 .grid-50 {
    display: block;
    width: 104.16667%;
    margin: 0 -2.08333%;
  }
  .grid-7525 .grid-50:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid-7525 .grid-50 .col1 {
    display: inline;
    float: left;
    width: 30.55556%;
    margin: 0 1.38889%;
  }
  .grid-7525 .grid-50 .col2 {
    display: inline;
    float: left;
    width: 30.55556%;
    margin: 0 1.38889%;
  }
}

.grid-50 .col1, .grid-50 .col2 {
  float: left;
  width: 48.5%;
}
.grid-50 .col1 {
  margin: 0 1.5% 0 0;
}
.grid-50 .col2 {
  margin: 0 0 0 1.5%;
}
@media screen and (max-width: 604px) {
  .grid-50 .col1, .grid-50 .col2 {
    float: none;
    width: 96%;
  }
}

.grid-2575 .col1, .grid-2575 .col2 {
  float: left;
}
.grid-2575 .col1 {
  margin: 0 1.5% 0 0;
  width: 23.5%;
}
.grid-2575 .col2 {
  margin: 0 0 0 1.5%;
  width: 73.5%;
}

.grid-3366 {
  margin: 0 -12px;
}
.grid-3366 .col1, .grid-3366 .col2 {
  float: left;
}
.grid-3366 .col1 {
  display: inline;
  float: left;
  width: 30.55556%;
  margin: 0 1.38889%;
}
.grid-3366 .col2 {
  display: inline;
  float: left;
  width: 63.88889%;
  margin: 0 1.38889%;
}

.grid-2244 {
  margin: 0 -12px;
}
.grid-2244 .col1, .grid-2244 .col2 {
  float: left;
}
.grid-2244 .col1 {
  display: inline;
  float: left;
  width: 19.44444%;
  margin: 0 1.38889%;
}
.grid-2244 .col2 {
  display: inline;
  float: left;
  width: 41.66667%;
  margin: 0 1.38889%;
}

.grid-33 {
  margin: 0;
}
@media screen and (min-width: 481px) {
  .grid-33 .col1, .grid-33 .col2, .grid-33 .col3 {
    float: left;
    width: 33%;
  }
}

/* Layout
 * ===================================================================
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

header {
  border-bottom: 2px solid #ececec;
}
header .inner-wrap {
  padding: 0 1em 0 0;
}
.content header {
  border-bottom: none;
}

.content aside {
  background-color: #ffe7cc;
  border: 1px solid #ff8700;
  padding: 1em;
}

footer {
  background-color: #515151;
  color: white;
}
footer h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 2em 0 0.5em;
}
footer h4:first-child {
  margin: 0;
}
footer a {
  color: white !important;
}
footer a:hover {
  color: #ff8700 !important;
}
footer ul {
  list-style-type: none;
  margin: 0 0 0.5em;
  padding: 0;
}
footer ul a {
  display: block;
  padding: 0.25em 0;
}
footer .copyright {
  border-top: 1px solid #1c1c1c;
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
}

.container {
  font-size: 1em;
  min-height: 100%;
}

.logo {
  margin: 0;
  font-size: 1em;
  float: left;
}
.logo a {
  display: inline-block;
  background: none;
  width: 160px;
  height: auto;
  margin-top: 0.5em;
}
@media screen and (min-width: 481px) {
  .logo a {
    width: 230px;
    margin-top: 0;
  }
}
.no-inlinesvg .logo a {
  background: transparent url('../img/TYPO3-logo-new.png') no-repeat;
  -webkit-background-size: 160px auto;
  -moz-background-size: 160px auto;
  -o-background-size: 160px auto;
  background-size: 160px auto;
}
.no-inlinesvg .logo a img {
  display: none;
}

.steps-123 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.steps-123 > li {
  background: url('../img/dummy/steps.png') no-repeat 50% 0;
  padding-top: 50px !important;
}
@media only screen and (min-width: 768px) {
  .steps-123 > li {
    float: left;
    width: 33.33333%;
    padding: 0 1em;
  }
}
@media only screen and (min-width: 768px) {
  .steps-123 > li {
    padding: 0 5em 0 1em;
  }
}
.steps-123 > li:first-child {
  padding-left: 0;
  background-position: 0 0;
}
.steps-123 > li:last-child {
  padding-right: 0;
  background-position: 100% 0;
}
.steps-123 h3 {
  margin-top: 1em;
}

.headline-devider {
  font-size: 1.375em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  position: relative;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2em 0;
  line-height: 1;
}
.headline-devider:before, .headline-devider:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 3px;
  vertical-align: middle;
  background: #e1e1e1;
}
.headline-devider:before {
  left: -0.5em;
  margin: 0 0 0 -50%;
}
.headline-devider:after {
  left: 0.5em;
  margin: 0 -50% 0 0;
  font-size: 0.875em;
}

/* Layout
 * ===================================================================
 */
.nav-main .inner-wrap {
  padding: 0;
}
.nav-main .nav-handler {
  display: block;
  background: #ececec url("../img/icons/ico-navlist.png") no-repeat 50%;
  text-indent: -999px;
}
.nav-main .nav-handler:active + ul, .nav-main .nav-handler:focus + ul {
  display: block;
}
@media only screen and (min-width: 481px) {
  .nav-main .nav-handler {
    display: none;
  }
}
.nav-main ul {
  overflow: hidden;
  position: relative;
  display: none;
  padding: 0 0.5em;
  white-space: nowrap;
}
@media only screen and (min-width: 481px) {
  .nav-main ul {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.nav-main ul > li {
  text-transform: uppercase;
  font-size: 0.9375em;
  margin: 0 0.25em;
  position: relative;
  -webkit-transition-property: display;
  -moz-transition-property: display;
  -ms-transition-property: display;
  -o-transition-property: display;
  transition-property: display;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
@media only screen and (min-width: 481px) {
  .nav-main ul > li {
    display: inline-block;
    font-size: 0.75em;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .nav-main ul > li {
    font-size: 0.8125em;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-main ul > li {
    font-size: 1em;
  }
}
.nav-main ul > li.act:after, .nav-main ul > li.cur:after {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: rgba(255, 135, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
.nav-main ul > li.act a, .nav-main ul > li.cur a {
  color: #ff8700;
}
.nav-main ul > li.act li a, .nav-main ul > li.cur li a {
  border-bottom: none;
}
.nav-main a {
  color: #8c8c8c;
  font-weight: bold;
  padding: 1em 1em 0.5em;
  display: block;
  border-bottom: 3px solid transparent;
}
@media only screen and (min-width: 481px) {
  .nav-main a {
    padding: 1em 0.4em 0.5em;
  }
}
@media only screen and (min-width: 768px) {
  .nav-main a {
    padding: 1em 0.75em 0.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-main a {
    padding: 1em 1em 0.5em;
  }
}
.nav-main a:hover {
  color: #ff8700;
  border-bottom-color: #ff8700;
}

.nav-sub {
  background-color: rgba(255, 135, 0, 0.6);
}
.nav-sub ul {
  max-width: 1200px;
  margin: 0 auto;
  white-space: normal;
}
.nav-sub ul > li {
  text-transform: none;
}
.nav-sub ul > li.act a, .nav-sub ul > li.cur a {
  border-bottom: 3px solid #ff8700;
  color: black;
}
.nav-sub ul a {
  color: #515151;
  padding: 1em 0.75em 0.5em;
}
.nav-sub ul a:hover, .nav-sub ul a:active, .nav-sub ul a:focus {
  color: black;
}

.nav-language, .m-login {
  float: right;
  height: 42px;
  background-color: #ececec;
  margin: 1em 10px 1em 0;
  border: 1px solid #b9b9b9;
  outline: 5px solid #ececec;
  -webkit-box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-language:hover, .m-login:hover, .nav-language:active, .m-login:active, .nav-language:focus, .m-login:focus {
  background-color: #ff8700;
  border: 1px solid #cc6c00;
  outline: 5px solid #ffcf99;
}
.nav-language:hover .icon, .m-login:hover .icon, .nav-language:active .icon, .m-login:active .icon, .nav-language:focus .icon, .m-login:focus .icon {
  background-position: 8px 8px;
}
.nav-language:hover .text, .m-login:hover .text, .nav-language:active .text, .m-login:active .text, .nav-language:focus .text, .m-login:focus .text {
  color: white;
  -webkit-box-shadow: inset -1px 1px 0 #ffcf99;
  -moz-box-shadow: inset -1px 1px 0 #ffcf99;
  box-shadow: inset -1px 1px 0 #ffcf99;
  border-left: 1px solid #cc6c00;
}
@media only screen and (min-width: 481px) {
  .nav-language, .m-login {
    margin-top: 25px;
  }
}
.nav-language .icon, .m-login .icon {
  vertical-align: top;
}
.nav-language .text, .m-login .text {
  display: none;
  color: #8c8c8c;
  min-width: 80px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  border-left: 1px solid #b9b9b9;
  -webkit-box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.5);
}
@media (min-width: 600px) {
  .nav-language .text, .m-login .text {
    display: inline-block;
  }
}

/* Modules
 * ==================================================================
 */
.m-stage {
  background-color: #ff8700;
  min-height: 350px;
  position: relative;
  z-index: 10;
}
.sub .m-stage {
  margin: 0;
  min-height: 50px;
}
@media only screen and (min-width: 481px) {
  .m-stage {
    min-height: 280px;
  }
}
@media only screen and (min-width: 768px) {
  .m-stage {
    min-height: 411px;
    margin-bottom: 75px;
  }
  .m-stage .stage-imagery {
    background: transparent url('../img/dummy/stage-bg_mini.png') no-repeat 0px 20px;
    min-height: 501px;
    position: absolute;
    top: 0;
    left: 40%;
    right: 0;
    z-index: 2;
    -webkit-transition-property: background-position;
    -moz-transition-property: background-position;
    -ms-transition-property: background-position;
    -o-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
}
@media only screen and (min-width: 768px) and (min-width: 481px) {
  .m-stage .stage-imagery {
    left: 60%;
  }
}
.m-stage h2 {
  color: white;
  width: auto;
  font: normal 1.125em/1 "Share-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
@media only screen and (min-width: 481px) {
  .m-stage h2 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) {
  .m-stage h2 {
    margin: 0 2em 1.5em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .m-stage h2 {
    margin: 2em;
  }
}
.sub .m-stage h2 {
  margin: 0;
  max-width: 100%;
}
.m-stage h2 .firstline {
  display: block;
  font-size: 1.77778em;
  line-height: 1.2;
  font-family: "Share-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 481px) {
  .m-stage h2 .firstline {
    margin-bottom: 0;
  }
}
.sub .m-stage h2 .secondline {
  display: none;
}
@media only screen and (min-width: 481px) {
  .sub .m-stage h2 .secondline {
    display: block;
  }
}

.m-featurelist {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .m-featurelist {
    width: 50%;
    margin-left: 3em;
  }
}
.m-featurelist > li {
  padding: 6px 0;
  color: white;
  font-size: 1.125em;
}
@media only screen and (min-width: 481px) {
  .m-featurelist > li {
    float: left;
    width: 50%;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .m-featurelist > li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .m-featurelist > li {
    float: left;
    width: 50%;
  }
}
.m-featurelist > li .icon {
  margin-top: -6px;
  margin-right: 0.25em;
}

.m-globalsearch {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.sub .m-globalsearch {
  position: relative;
}
.m-globalsearch fieldset {
  padding: 0;
}
.m-globalsearch label {
  display: none;
}
@media only screen and (min-width: 481px) {
  .m-globalsearch label {
    display: inline-block;
    width: 40%;
    color: white;
    font-family: "Share-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-font-weight: normal;
    font-size: 1.5em;
    line-height: 52px;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .m-globalsearch label {
    width: 25%;
  }
}
.sub .m-globalsearch label {
  display: none;
}
.m-globalsearch .input-wrapper {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
@media only screen and (min-width: 481px) {
  .m-globalsearch .input-wrapper {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .m-globalsearch .input-wrapper {
    width: 35%;
  }
}
.sub .m-globalsearch .input-wrapper {
  width: 100%;
}
.m-globalsearch .search-input,
.m-globalsearch .search-submit {
  background-color: transparent;
  border: none;
  padding: 1em 0 1em 1em;
  width: 78%;
  color: white;
}
.m-globalsearch .search-input::-webkit-input-placeholder,
.m-globalsearch .search-submit::-webkit-input-placeholder {
  color: white;
}
.m-globalsearch .search-input:-moz-placeholder,
.m-globalsearch .search-submit:-moz-placeholder {
  color: white;
}
.m-globalsearch .search-submit {
  background: rgba(0, 0, 0, 0.4) url('../img/icons/retina/ico-search.png') no-repeat 50%;
  background-size: 50% 50%;
  width: 52px;
  height: 52px;
  display: inline-block;
  float: right;
  text-indent: -999px;
}

.sub .search-input {
  width: 70%;
}

.m-login:hover .icon, .m-login:active .icon, .m-login:focus .icon {
  background-position: 8px -66px;
}
